<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Vote online</title>
        <link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/animate.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('template/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lightbox.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/main.css') }}" rel="stylesheet">
        <link id="css-preset" href="{{ asset('template/css/presets/preset1.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/responsive.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="{{ asset('template/js/html5shiv.js') }}"></script>
          <script src="{{ asset('template/js/respond.min.js') }}"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ asset('template/images/favicon.ico') }}">
    </head><!--/head-->

    <body>
        {% include 'GestionBundle:nav:header.html.twig' %}
        <section id="about-us" class="parallax">
            <div class="container">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ flashMessage }}</div>
                {% endfor %}
                <div class="row">
                        <h1>Vote</h1>
                    {{ form_start(form) }}

                            <div class="col-lg-12">
                                Nom :{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="col-lg-12">
                                Question :{{ form_widget(form.question, {'attr': {'class': 'form-control'}}) }}
                            </div>

                                <span class="col-lg-3">Rép 1 : <input type="text" name="rep1" id="rep1" class="form-control" required=""/></span>

                                <span class="col-lg-3">Rép 2 : <input type="text" name="rep2" id="rep2" class="form-control" required=""/></span>

                                <span class="col-lg-3">Rép 3 : <input type="text" name="rep3" id="rep3" class="form-control" required=""/></span>

                            <div class="col-lg-12"><br><br><input type="submit" value="Valider" class="btn btn-warning"/></div>
                    {{ form_end(form) }}
                        <br><br>
                </div>
            </div>
        </section> <!--/#about-us-->
        <footer id="footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>&copy;Ferchichi Seifeddine</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="pull-right"></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>