<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Vote online</title>
        <link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/animate.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('template/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lightbox.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/main.css') }}" rel="stylesheet">
        <link id="css-preset" href="{{ asset('template/css/presets/preset1.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/responsive.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="{{ asset('template/js/html5shiv.js') }}"></script>
          <script src="{{ asset('template/js/respond.min.js') }}"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ asset('template/images/favicon.ico') }}">
    </head><!--/head-->

    <body>
        {% include 'GestionBundle:nav:header.html.twig' %}
        <section id="about-us" class="parallax">
            <div class="container">
                <div class="row">
                    <br><br><h1>List des votes</h1>
                    <div class="col-lg-12"><a href="{{ path('vote_new') }}"><button class="btn btn-info">Ajouter un vote</button></a><br><br></div>
                    <table class="table table-bordered" style="text-align: left">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom du vote</th>
                                <th>Question</th>
                                <th>Date de crétion</th>
                                <th>Nombre des participants</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vote in votes %}
                                <tr>
                                    <td>{{ vote.id }}</td>
                                    <td>{{ vote.name|capitalize }}</td>
                                    <td>{{ vote.question|capitalize }}</td>
                                    <td>{{ vote.createdate|date('d/m/Y à H:i:s') }}</td>
                                    <td>{{ vote.participants }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br><br>
                </div>
            </div>
        </section> <!--/#about-us-->
        <footer id="footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>&copy;Ferchichi Seifeddine</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="pull-right"></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>