<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Vote online</title>
        <link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/animate.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('template/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lightbox.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/main.css') }}" rel="stylesheet">
        <link id="css-preset" href="{{ asset('template/css/presets/preset1.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/responsive.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="{{ asset('template/js/html5shiv.js') }}"></script>
          <script src="{{ asset('template/js/respond.min.js') }}"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ asset('template/images/favicon.ico') }}">
    </head><!--/head-->

    <body>
        <header>
            <div class="main-nav">
                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="{{ path('gestion_homepage_home') }}">
                            <h1><img class="img-responsive" src="{{ asset('template/images/logo.png') }}" alt="logo"></h1>
                        </a>   
                    </div>  
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">                 
                            <li class="scroll"><a href="{{ path('gestion_homepage_home') }}">Accueil</a></li>
                            <li class="scroll"><a href="{{ path('gestion_homepage_contact') }}">Contact</a></li>       
                            <li class="scroll active"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>       
                        </ul>
                    </div>
                </div>
            </div><!--/#main-nav-->
        </header><!--/#home-->
        <section id="about-us" class="parallax">
            <div class="container">
                <div class="row">
                    <h1>Abonnez vous gratuitement</h1> 
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                        
                        <br>
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                        <br>
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                        <br>
                        {{ form_label(form.tel) }}
                        {{ form_widget(form.tel) }}
                        {{ form_errors(form.tel) }}
                        <br>
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                        <br>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                        <br>
                        {{ form_widget(form.plainPassword) }}
                        <br>

                        {{ form_widget(form._token) }}
                        <div>
                            <input class="btn btn-success" type="submit" value="Créer un nouveau compte" />
                        </div>
                    </form>
                       
                </div>
            </div>
        </section> <!--/#about-us-->
        <footer id="footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>&copy;Ferchichi Seifeddine</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="pull-right"></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>