<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Vote online</title>
        <link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/animate.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('template/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lightbox.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/main.css') }}" rel="stylesheet">
        <link id="css-preset" href="{{ asset('template/css/presets/preset1.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/responsive.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="{{ asset('template/js/html5shiv.js') }}"></script>
          <script src="{{ asset('template/js/respond.min.js') }}"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ asset('template/images/favicon.ico') }}">
    </head><!--/head-->

    <body>
        <header>
            <div class="main-nav">
                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="{{ path('gestion_homepage_home') }}">
                            <h1><img class="img-responsive" src="{{ asset('template/images/logo.png') }}" alt="logo"></h1>
                        </a>   
                    </div>  
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">                 
                            <li class="scroll"><a href="{{ path('gestion_homepage_home') }}">Accueil</a></li>
                            <li class="scroll active"><a href="{{ path('gestion_homepage_contact') }}">Contact</a></li>       
                            <li class="scroll"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>       
                        </ul>
                    </div>
                </div>
            </div><!--/#main-nav-->
        </header><!--/#home-->
        <section id="contact">
            <div id="contact-us" class="parallax">
                <div class="container">
                    <div class="row">
                        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h2>Contactez nous</h2>
                            <p>Si vous avez des commentaires ou des questions sur les services que nous offrons, ou si vous souhaitez obtenir un nouveau service, n'hésitez pas à nous contacter .Sinon merci de nous faire part de vos avis afin que notre site réponde toujours mieux à vos attentes.</p>
                        </div>
                    </div>
                    <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="row">
                            <div class="col-sm-6">
                                <form id="main-contact-form" name="contact-form" method="post" action="#">
                                    <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" placeholder="Nom" required="required">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Adresse Email" required="required">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control" placeholder="Sujet" required="required">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" rows="4" placeholder="Tapez votre message" required="required"></textarea>
                                    </div>                        
                                    <div class="form-group">
                                        <button type="submit" class="btn-submit">Envoyez</button>
                                    </div>
                                </form>   
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

                                    <ul class="address">
                                        <li><i class="fa fa-map-marker"></i> <span> Addresse:</span> Tunisie </li>
                                        <li><i class="fa fa-phone"></i> <span> Télephone:</span> +216 52 153 023  </li>
                                        <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:ferchichi.seifedine@gmail.com"> ferchichi.seifedine@gmail.com</a></li>
                                        <li><i class="fa fa-globe"></i> <span>Siteweb:</span> <a href="http://www.ferchichi-seifeddine">www.ferchichi-seifeddine</a></li>
                                    </ul>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </section><!--/#contact-->
        <footer id="footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>&copy;Ferchichi Seifeddine</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="pull-right"></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>