<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Vote online</title>
        <link href="{{ asset('template/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/animate.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('template/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lightbox.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/main.css') }}" rel="stylesheet">
        <link id="css-preset" href="{{ asset('template/css/presets/preset1.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/responsive.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="{{ asset('template/js/html5shiv.js') }}"></script>
          <script src="{{ asset('template/js/respond.min.js') }}"></script>
        <![endif]-->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ asset('template/images/favicon.ico') }}">
    </head><!--/head-->

    <body>
        <header>
            <div class="main-nav">
                <div class="container">
                    <div class="navbar-header">

                        <a class="navbar-brand" href="{{ path('gestion_homepage_home') }}">
                            <h1><img class="img-responsive" src="{{ asset('template/images/logo.png') }}" alt="logo"></h1>
                        </a>   
                    </div>  
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">                 
                            <li class="scroll active"><a href="{{ path('gestion_homepage_home') }}">Accueil</a></li>
                            <li class="scroll"><a href="{{ path('gestion_homepage_contact') }}">Contact</a></li>       
                            <li class="scroll"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>       
                        </ul>
                    </div>
                </div>
            </div><!--/#main-nav-->
        </header><!--/#home-->
        <section id="about-us" class="parallax">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h2>Découvrez Vote le meilleur site de vote avec correction automatique</h2>
                            <p>Vote est une plateforme de vote pour gérer des resumtats de vote en ligne. C'est un outil professionnel, facile à utiliser, avec un mécanisme de vérification automatique de vos votes et questionnaires..</p>
                            <p>Sa console de surveillance unique, vous permet de surveiller les votes en temps réel, et vous avertit grâce à des algorithmes anti-triche avancés, lorsqu'un utilisateur adopte un comportement suspicieux...</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="col-md-9">
                                <h2>Connexion</h2>
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="alert alert-success">{{ flashMessage }}</div>
                                {% endfor %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <br>
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    <label>E-mail ou Nom d'utilisateur </label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
                                    <label>Mot de passe</label>
                                    <input type="password" id="password" name="_password" class="form-control" required="required" />
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">Se souvenir de moi</label>
                                    </br>
                                    <p><button type="submit" class="btn btn-primary">S'identifier</button></p>
                                </form>
                                <br>
                                <a href="">Mot de passe oublié ?</a>
                                <br>
                                <a href="{{path('fos_user_registration_register')}}">Créer votre compte , C'est gratuit</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--/#about-us-->
        <footer id="footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>&copy;Ferchichi Seifeddine</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="pull-right"></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>