    <header>
        <div class="main-nav">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="{{ path('admin_homepage') }}">
                        <h1><img class="img-responsive" src="{{ asset('template/images/logo.png') }}" alt="logo"></h1>
                    </a>   
                </div>  
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">   
                        <li class="scroll"><a href="{{ path('admin_homepage') }}">Accueil</a></li>
                        <li class="scroll"><a href="{{ path('vote_index') }}">Mes Votes</a></li>
                        <li class="scroll"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>       
                    </ul>
                </div>
            </div>
        </div><!--/#main-nav-->
    </header><!--/#home-->